Are you sure you want to delete this run?

<form class="inline-form" action="/runs/delete/<%= @run_id || -1 %>" method="post">
  <button>Delete</button>
</form>

<form class="inline-form" action="/runs" method="get">
  <button>Cancel</button>
</form>

