<div id="welcome">
  This is a simple app you can use to log your runs.
  It was inspired by <a href='http:\\smashrun.com'>Smashrun</a>.

  <ul>
    <li>Click on <a href='/add_run'>ADD RUN</a> to upload a new run.</li>
    <li>In <a href='/runs'>ALL RUNS</a> you can sort by the different headings, and edit or delete runs.</li>
    <li>The <a href='/overview'>OVERVIEW</a> contains some statistics about your runs.</li>
  </ul>
</div>
